<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/xhtml"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
</head>
<body>
	<form method="post" th:action="@{/livros/gravar}" th:object="${livro}" action="#" >
		<input type="hidden"  th:field="*{id}" />
	    Nome: <input type="text" th:field="*{nome}"><br>
	    Quantidade Páginas: <input type="text" th:field="*{quantidadePaginas}"><br>
		Autor: <select th:field="*{autor}">
	        <option value="">Selecione o Autor</option>
	        <option th:each="autor : ${autores}" th:value="${autor.id}" th:utext="${autor.nome} " selected="selected"></option>
	    </select><br>
	    <input type="submit">
	</form>
</body>
</html>
